*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
  color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-family: "CoreSansC";
  color: #3c4242;
  line-height: 99%;
  letter-spacing: 0.02em;
  gap: 0.5882352941em;
  margin-bottom: 1.875rem;
}
@media (min-width: 79.375em) {
  ._title {
    font-size: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 1.5rem , 1.2894736842rem  +  1.0526315789vw , 2.125rem )) {
    ._title {
      font-size: clamp( 1.5rem , 1.2894736842rem  +  1.0526315789vw , 2.125rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.2894736842rem  +  1.0526315789vw , 2.125rem )) {
    ._title {
      font-size: calc(1.5rem + 0.625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  ._title {
    font-size: 1.5rem;
  }
}
._title::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.1764705882em;
          flex: 0 0 0.1764705882em;
  width: 0.1764705882em;
  height: 0.8823529412em;
  background-color: #8a33fd;
  border-radius: 0.625rem;
  margin-top: 0.0588235294em;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
  grid-template-rows: 1fr;
  gap: 1.25rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  max-width: 17.625rem;
}
.item__card {
  position: relative;
  display: inline-block;
}
.item__card:hover .item__img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item__logo {
  border-radius: 10px;
  overflow: hidden;
}
.item__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 282/370;
  border-radius: 0.625rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item__heart {
  position: absolute;
  top: 1.625rem;
  right: 1.25rem;
  width: 2rem;
  height: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.item__heart--active {
  background-color: red;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .item__heart {
    top: 1rem;
    right: 0.625rem;
  }
}
@media (any-hover: hover) {
  .item__heart:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
.item__like-heart {
  padding: 0.625rem;
}
.item__like-heart--active {
  background-color: red;
  border-radius: 50%;
}
.item__body {
  display: grid;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Causten";
}
.item__name > *:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.item__title {
  font-weight: 600;
  color: #3c4242;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.item__title:hover {
  color: #ce8b34;
  text-decoration: underline;
}
.item__sub-title {
  font-weight: 500;
  font-size: 14px;
  color: #807d7e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.item__sub-title:hover {
  color: #ce8b34;
}
.item__prise {
  font-weight: 700;
  font-size: 0.875rem;
  color: #3c4242;
}

.button {
  padding: 1rem 1.25rem;
  background-color: #8a33fd;
  color: white;
  border-radius: 0.3125rem;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"), url("../fonts/Causten-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-45Regular.woff2") format("woff2"), url("../fonts/CoreSansC-45Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("fonts/icons.woff2") format("woff2"), url("fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-family: "Causten";
  color: #807d7e;
}

a {
  display: inline-block;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.lock {
  overflow: hidden;
}

.header {
  position: fixed;
  background-color: rgb(97, 240, 228);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: grid;
  grid-template-columns: auto 1fr 21.53% auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6.125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (min-width: 79.375em) {
  .header__container {
    -webkit-column-gap: 4.75rem;
       -moz-column-gap: 4.75rem;
            column-gap: 4.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports ((-moz-column-gap: clamp( 0.625rem , -0.7644736842rem  +  6.9473684211vw , 4.75rem )) or (column-gap: clamp( 0.625rem , -0.7644736842rem  +  6.9473684211vw , 4.75rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.625rem , -0.7644736842rem  +  6.9473684211vw , 4.75rem );
         -moz-column-gap: clamp( 0.625rem , -0.7644736842rem  +  6.9473684211vw , 4.75rem );
              column-gap: clamp( 0.625rem , -0.7644736842rem  +  6.9473684211vw , 4.75rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.625rem , -0.7644736842rem  +  6.9473684211vw , 4.75rem )) or (column-gap: clamp( 0.625rem , -0.7644736842rem  +  6.9473684211vw , 4.75rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.625rem + 4.125 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(0.625rem + 4.125 * (100vw - 20rem) / 59.375);
              column-gap: calc(0.625rem + 4.125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
@media (max-width: 56.125rem) {
  .header__container {
    grid-template-columns: auto 1fr auto auto;
    width: 100%;
    position: relative;
    min-height: 4.375rem;
  }
}
.header__img {
  max-width: 5.75rem;
  height: auto;
}
.header__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 79.375em) {
  .header__icons {
    gap: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (gap: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem )) {
    .header__icons {
      gap: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem );
    }
  }
  @supports not (gap: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem )) {
    .header__icons {
      gap: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .header__icons {
    gap: 0.3125rem;
  }
}
@media (max-width: 37.5rem) {
  .header__icons {
    position: absolute;
    top: 110%;
    right: 0.3125rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.header__icon {
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  border-radius: 8px;
}
.header__icon a img {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__icon a img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 56.125rem) {
  .header__burger {
    width: 2.5rem;
    height: 1.25rem;
    position: relative;
  }
  .header__burger::before, .header__burger::after,
  .header__burger span {
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: black;
  }
  .header__burger::after {
    top: 100%;
  }
  .header__burger::before {
    bottom: 100%;
  }
  .header__burger span {
    top: calc(50% - 0.03125rem);
  }
}
.header__burger--active::before {
  top: 0.5625rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger--active::after {
  top: 0.5625rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__burger--active span {
  opacity: 0;
}

@media (max-width: 56.125rem) {
  .menu-header {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    background-color: rgb(177, 201, 228);
  }
}
.menu-header--active {
  display: block;
  left: 0;
}
.menu-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}
@media (min-width: 79.375em) {
  .menu-header__items {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports ((-moz-column-gap: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem ))) {
    .menu-header__items {
      -webkit-column-gap: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem );
         -moz-column-gap: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem );
              column-gap: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem ))) {
    .menu-header__items {
      -webkit-column-gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 59.375);
              column-gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .menu-header__items {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
@media (max-width: 56.125rem) {
  .menu-header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 1.5625rem;
    padding-right: 1.5625rem;
    padding-top: 1.25rem;
  }
}
.menu-header__item {
  font-weight: 500;
  font-size: 1.375rem;
}
.menu-header__item a {
  position: relative;
}
.menu-header__item a::before {
  content: "";
  height: 0.0625rem;
  width: 0%;
  background-color: purple;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .menu-header__item a:hover::before {
    width: 100%;
    left: 0%;
  }
}
@media (max-width: 56.125rem) {
  .menu-header__item a {
    font-size: 2.5rem;
  }
}

.search {
  background: #f6f6f6;
  border-radius: 8px;
  position: relative;
}
.search::before {
  content: "";
  position: absolute;
  background: url("../img/icons/search.svg") no-repeat;
  top: 0.78125rem;
  left: 20px;
  width: 1.25rem;
  height: 1.25rem;
  visibility: inherit;
  pointer-events: none;
}
.search::-webkit-input-placeholder {
  margin-left: 32px;
}
.search::-moz-placeholder {
  margin-left: 32px;
}
.search:-ms-input-placeholder {
  margin-left: 32px;
}
.search::-ms-input-placeholder {
  margin-left: 32px;
}
.search::placeholder {
  margin-left: 32px;
}
.search__inp {
  width: 100%;
  padding: 0.78125rem 0.625rem 0.78125rem 3.25rem;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  color: black;
}
@media (any-hover: hover) {
  .search__inp:hover::-webkit-input-placeholder {
    color: purple;
    text-decoration: underline;
  }
  .search__inp:hover::-moz-placeholder {
    color: purple;
    text-decoration: underline;
  }
  .search__inp:hover:-ms-input-placeholder {
    color: purple;
    text-decoration: underline;
  }
  .search__inp:hover::-ms-input-placeholder {
    color: purple;
    text-decoration: underline;
  }
  .search__inp:hover::placeholder {
    color: purple;
    text-decoration: underline;
  }
}
.search__inp::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search__inp::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search__inp:-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search__inp::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search__inp::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search__inp:focus::-webkit-input-placeholder {
  opacity: 0;
}
.search__inp:focus::-moz-placeholder {
  opacity: 0;
}
.search__inp:focus:-ms-input-placeholder {
  opacity: 0;
}
.search__inp:focus::-ms-input-placeholder {
  opacity: 0;
}
.search__inp:focus::placeholder {
  opacity: 0;
}

.main {
  margin-top: 80px;
}