
._title{
	display: flex;
	font-weight: 600;
	font-family: "CoreSansC";
	color: $darkColor;
	line-height: 99%;
	letter-spacing: 0.02em;
	@include adaptiveValue ("font-size", 34, 24);
	gap: toEm(20,34);
	margin-bottom: toRem(30);
	
	&::before {
		content: "";
		flex: 0 0 toEm(6,34);
		width: toEm(6,34);
		height: toEm(30,34);
		background-color: #8a33fd;
		border-radius: toRem(10);
		margin-top: toEm(2,34);
	}
}
// ._title {
// 	display: flex;
// 	gap: toEm(20,36);
// 	font-family: "CoreSansC";
// 	font-weight: 600;
// 	line-height: 1.1;
// 	letter-spacing: toEm(0.68);
// 	color: $darkColor;
// 	@include adaptiveValue("font-size",36,26);
// 	&::before {
// 		content: "";
// 		border-radius: 10px;
// 		flex: 0 0 toEm(6,36);
// 		width: toEm(6,36);
// 		height: toEm(30,36);
// 		margin-top: toEm(5,36);
// 		background: #8a33fd;
// 	}
// }
.box {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(toRem(240), 1fr));
	grid-template-rows: 1fr;
	gap: toRem(20);
	@media (max-width:toRem(550)){
		grid-template-columns: repeat(2,1fr);
	}
}
.item {
	display: flex;
	flex-direction: column;
	gap: toRem(30);
	max-width: toRem(282);

	// .item__logo
	&__card{
		position: relative;
		display: inline-block;
		&:hover {
			.item__img {
				 transform: scale(1.05);
				 transition: 0.3s;
			}
	  }
	}
	&__logo {
		border-radius: 10px;
		overflow: hidden;
	}

	// .item__img

	&__img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		aspect-ratio: 282/370;
		border-radius: toRem(10);	
		transition: 0.3s;

		}

	// .item__heart

	&__heart {
		position: absolute;
		top: toRem(26);
		right: toRem(20);
		width: toRem(32);
		height: toRem(32);
		transition: 0.3s;
		background-color: white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		&--active{
			background-color: red;
			border-radius: 50%;
		}
		& img{
			
		}
		@media(max-width:500px){
			top: toRem(16);
			right: toRem(10);
		}
		
		@media(any-hover:hover) {
			&:hover{
				transform: scale(1.2);
				transition: 0.3s;
				
			}
		}
	}

	// .item__like-heart

	&__like-heart {
		padding: toRem(10);
		
		&--active{
			background-color: red;
			border-radius: 50%;
		}
	}

	// .item__body

	&__body {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		font-family: "Causten";
	}

	// .item__name

	&__name {
		&>*:not(:last-child){
			margin-bottom: toRem(5);
		}
	}

	// .item__title

	&__title {
		font-weight: 600;
		color: #3c4242;
		transition: 0.2s;	
		&:hover{
			color: #ce8b34;
			text-decoration: underline;
		}

	}

	// .item__sub-title

	&__sub-title {
		font-weight: 500;
		font-size: 14px;
		color: #807d7e;
		transition: 0.2s;
		&:hover{
			color: #ce8b34;
			
		}
	}

	// .item__prise

	&__prise {	
		font-weight: 700;
		font-size: toRem(14);
		color: #3c4242;
	}

}

//button
.button {
	padding: toRem(16) toRem(20);
	background-color: #8a33fd;
	color: white;
	border-radius: toRem(5);
	
}
