.footer {
	background: #3c4242;
	width: 100%;
	height: auto;
	color: #f6f6f6;
	// .footer__container

	&__container {
	}

	// .footer__box

	&__box {
		@include adaptiveValue ("padding-top", 59, 20);
		@include adaptiveValue ("padding-bottom", 59, 30);
		padding-left: toRem(10);
		padding-right: toRem(10);
	}

	// .footer__menu

	&__menu {
		display: grid;

		grid-template-columns: repeat(4,auto);
		@media(max-width: toRem(989)){
			grid-template-columns: repeat(2,1fr);
			

		}
		//grid-template-columns: repeat(auto-fit, minmax(toRem(200),1fr));
		grid-template-rows: repeat(4,auto);
		@include adaptiveValue("column-gap", 80, 20);
		@include adaptiveValue("margin-bottom", 72, 40);
		justify-content: center;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			width: calc(100% + 20px);
			height: toRem(1);
			background-color: #bebcbd;
			opacity: 0.4;
			top: calc(100% + toRem(30));
			left: toRem(-10);
		}
		
	}

	// .footer__oneofli

	&__oneofli {
	}

	// .footer__subtitle

	&__subtitle {
		font-weight: 700;
		@include adaptiveValue ("font-size" , 28, 24);
		line-height: 217%;
		margin-bottom: toRem(15);
		text-decoration: underline;
	
	}

	// .footer__items

	&__items {
		
	}
	&__item {
		font-weight: 500;
		font-size: 18px;
		line-height: 217%;
		
		&:not(:last-child){
			margin-bottom: toRem(5);
		}
		&:hover { 
			a {
				text-decoration: underline;
			}
		}
	}
	// .footer__action

	&__action {
		display: grid;	
	}

	// .footer__socials

	&__socials {
			grid-column: 1 / span 3;
			grid-row: 3 / 4;
			display: flex;
			align-items: flex-start;
			align-items: center;
			@include adaptiveValue ("gap", 10, 5);
			@media(max-width: toRem(989)){
				grid-column: 1/2;
				grid-row: 4/5;
			}
	}

	// .footer__social

	&__social {

		img {
			max-width: 100%;
			width: toRem(37);
			height: toRem(37);
			object-fit: contain;
			border-radius: toRem(11);
			@media (any-hover:hover){
				&:hover {
					box-shadow:4px 4px 8px 0px rgb(250, 246, 246) ;
				}
			}
		}
	}

	// .footer__apps

	&__apps {
			grid-column: 4/5;
			grid-row: 3/4;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: toRem(21);	
			@media(max-width: toRem(989)){
				grid-column: 2/3;
				grid-row: 4/5;
			}
	}

	// .footer__download

	&__download {	
		grid-column: 4/5;	
		font-weight: 700;
		font-size: 28px;
		line-height: 217%;
		@media(max-width: toRem(989)){
			grid-column: 2/3;
			@include adaptiveValue("font-size" , 28 ,20);
		}


	}

	// .footer__app

	&__app {
		display: flex;
		align-items: center;
		gap: toRem(3.5);
		margin-left: toRem(9);
		img {
			max-width: 100%;
			width: toRem(30);
			height: toRem(32);
			object-fit: contain;
		}
		@media (any-hover:hover){
			&:hover {
				box-shadow:4px 4px 8px 0px rgb(250, 246, 246) ;
				border-radius: toRem(5);
			}
		}
		
	}

	// .footer__text-app

	&__text-app {
		font-weight: 400;
		margin-left: toRem(10);
		letter-spacing: toRem(1);
		
	}

	// .footer__apptext-litel

	&__apptext-litel {
		@include adaptiveValue("font-size" , 10 ,6);
		margin-bottom: toRem(10);
	}

	// .footer__apptext-big

	&__apptext-big {
		font-size: toRem(18);
	}

	// .footer__categorier

	&__categorier {
		

	}
	// .footer__copyright

	&__copyright {
		font-size: 18px;
		line-height: 200%;
		text-align: center;
	}
}
.categorier-footer {
	@include adaptiveValue ("margin-bottom", 71, 50 );
	font-weight: 700;
	
	
	
	// .categorier-footer__menu

	&__menu {
		font-weight: 700;
		font-size: 28px;
		position: relative;
		cursor: pointer;
		
		&:hover {
			
		}
		&--active{
			&::before{
				transform: rotateX(180deg);
			}
			.categorier-footer__next-menu {
				opacity: 1;
				color: #f6f6f6;
				position: absolute;
				top:100%;
				left: 0;
				width: 100%;
				height: 100%;
				padding-top: toRem(15);
				li {
					//width: 100%;
					a{
						width: 100%;
						padding: toRem(10) 0;
					}
				}
			}
		}
		&::before {
			content: "";
			position: absolute;
			background: url("../img/footer/Icon_down.png") no-repeat ;
			top: 0;
			left:100%;
			width: toRem(20);
			height: 100%;	
			transition: all 0.3s;	
		}
	}
	// .categorier-footer__next-menu

	&__next-menu {
		display: flex;
		justify-content: space-between;
	}

	&__item-menu{
		font-weight: 500;
		
		@include adaptiveValue ("font-size", 24, 14);
		a{
			position: relative;
			&::before{
				content: "";
				height: toRem(1);
				width: 0%;
				background-color: purple;
				position: absolute;
				top: 100%;
				left: 50%;
				transition: 0.3s;
			}
			@media(any-hover:hover){
				&:hover{
					&::before{
						width: 100%;
						left: 0%;
					}
				}
			}
		}
	}
}