.main {
	@include adaptiveValue ("margin-top", 108 , 50);
	&__hero {
		@include adaptiveValue ("margin-bottom", 130, 0);
	}
}
.hero {
	// .hero__wrapper
	
	
	&__wrapper {

	}

	// .hero__slide

	&__slide {
		position: relative;
	}

	// .hero__img-slider

	&__boxslider-img {
		
		
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit:cover;
		
		&--top-right{
			object-position: top right;
		}
	}

	// .hero__pagination

	&__pagination.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
		position: absolute;
		bottom: toRem(50);
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		
		.swiper-pagination-bullet{
			flex-shrink: 0;
			@include adaptiveValue ("flex-basis", 62, 40);
			height: toRem(10);
			border-radius: 0;
			&-active{
				background: #fff;
				
			}
			&:first-child{
				border-radius: toRem(12) 0 0 toRem(12);
			}
			&:last-child{
				border-radius: 0 toRem(12) toRem(12) 0;
			}
		}
	}

	// .hero__arrow
	
	&__arrow {
		position: absolute;
		top: 50%;
		width: toRem(24);
		height: toRem(44);
		z-index: 5;
		transition: opacity 0.3s;
		& img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (any-hover:hover){
			&:hover{
				opacity: 0.7;
			}
		}
		@media(max-width: toRem(987)) {
			display: none;
		}
		&--prev {
			@include adaptiveValue ("left", 40 , 10 ,10, $containerWidth, 989);
		}
		&--next{
			@include adaptiveValue ("right", 40 , 10 ,10, $containerWidth, 989);
		}
	}

}

.slide-hero {
	font-family: "CoreSansC";
	color: #fff;


	&__container {
		position: relative;

	}
	&__boximg{
		@media (max-width: toEm(678)){
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: black;
				opacity: 0.4;
			}
		}
	}
	&__body{
		position: relative;
		@include adaptiveValue ("margin-left", 85, 20, 20, $containerWidth, 768);
		@include adaptiveValue ("margin-right", 85, 0, 0, $containerWidth, 768);
		@include adaptiveValue ("padding-top", 130, 200);
		@include adaptiveValue ("padding-bottom", 130, 100);
		max-width: toRem(550);
		display: grid;
		@include adaptiveValue ("gap", 40, 30);
		@media (min-width: toEm(440)) {
			justify-items: start;

		}
	}
	&__label{
		font-weight: 500;
		@include adaptiveValue ("font-size", 32, 25);
		text-transform: capitalize;
		line-height: 118%;
	}
	&__title{
		font-weight: 800;
		font-size: 78px;
		@include adaptiveValue ("font-size", 72, 50);
		line-height: 120%;
		
	}
	&__button{
		font-weight: 700;
		font-size: 24px;
		color: #3c4242;
		border-radius: 8px;
		padding: 16px 72px;
		background: #fff;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, 0);
		@media (any-hover:hover){
			&:hover{
				background: #ffffffd5;
				border: 1px solid black;
			}
		}
	}
}
