.main {
	@include adaptiveValue ("margin-top", 108 , 50);

	&__hero {
	
	}
}
.hero {
	
	// .hero__wrapper

	&__wrapper {
		
	}

	// .hero__slide

	&__slide {
		position: relative;
		
		
	}

	// .hero__img-slider

	&__boxslider-img {
		
		
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		
		&--top-right{
			object-position: top right;
		}
	}

	// .hero__pagination

	&__pagination {

	}

	// .hero__arrow

	&__arrow {
	}

	// .hero__arrow--prev

	&__arrow--prev {
	}

	// .hero__arrow--next

	&__arrow--next {
	}
}

.slide-hero {
	font-family: "CoreSansC";
	color: #fff;
	&__boximg{
		@media (max-width: toEm(678)){
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: black;
				opacity: 0.4;
			}
		}
	}
	&__body{
		position: relative;
		@include adaptiveValue ("margin-left", 85, 0, 0, $containerWidth, 768);
		@include adaptiveValue ("margin-right", 85, 0, 0, $containerWidth, 768);
		@include adaptiveValue ("padding-top", 130, 100);
		@include adaptiveValue ("padding-bottom", 130, 100);
		max-width: toRem(550);
		display: grid;
		@include adaptiveValue ("gap", 40, 15);
		@media (min-width: toEm(440)) {
			justify-items: start;
		}
	
	}
	&__label{
		font-weight: 500;
		@include adaptiveValue ("font-size", 32, 20);
		text-transform: capitalize;
		line-height: 118%;
	}
	&__title{
		font-weight: 800;
		font-size: 78px;
		@include adaptiveValue ("font-size", 72, 35);
		line-height: 120%;
		
	}
	&__button{
		font-weight: 700;
		font-size: 24px;
		color: #3c4242;
		border-radius: 8px;
		padding: 16px 72px;
		background: #fff;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, 0);
		@media (any-hover:hover){
			&:hover{
				background: #ffffffd5;
				border: 1px solid black;
			}
		}
	}
}
