
[class*=" _icon-"]::before {
	font-family: 'icons';
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }
 
 ._icon-credit-card-Stroke:before {
	content: "\e900";
 }
 ._icon-Free-Shipping--Returns-Stroke:before {
	content: "\e901";
 }
 ._icon-Green-Check-box:before {
	content: "\e902";
 }
 ._icon-Green-Check-box_social-1:before {
	content: "\e903";
 }
 ._icon-Green-Check-box_social-2:before {
	content: "\e904";
 }
 ._icon-Green-Check-box_social-3:before {
	content: "\e905";
 }
 ._icon-Green-Check-box_social-4:before {
	content: "\e906";
 }
 ._icon-Green-Check-box_social-5:before {
	content: "\e907";
 }
 ._icon-Green-Check-box_social-6:before {
	content: "\e908";
 }
 ._icon-Green-Check-box_social-7:before {
	content: "\e909";
 }
 ._icon-Green-Check-box_social-8:before {
	content: "\e90a";
 }
 ._icon-Green-Check-box_social-9:before {
	content: "\e90b";
 }
 ._icon-Icon-Stroke:before {
	content: "\e90c";
 }
 ._icon-Icon-Stroke_a:before {
	content: "\e90d";
 }
 ._icon-Icon-Stroke_b-1:before {
	content: "\e90e";
 }
 ._icon-Icon-Stroke_b-2:before {
	content: "\e90f";
 }
 ._icon-Icon-Stroke_b-3:before {
	content: "\e910";
 }
 ._icon-Icon-Stroke_b-4:before {
	content: "\e911";
 }
 ._icon-Icon-Stroke-1:before {
	content: "\e912";
 }
 ._icon-Icon-Stroke-1_a-1:before {
	content: "\e913";
 }
 ._icon-Icon-Stroke-1_a-2:before {
	content: "\e914";
 }
 ._icon-Icon-Stroke-1_a-3:before {
	content: "\e915";
 }
 ._icon-Icon-Stroke-2:before {
	content: "\e916";
 }
 ._icon-Icon-Stroke-3:before {
	content: "\e917";
 }
 ._icon-Icon-Stroke-4:before {
	content: "\e918";
 }
 ._icon-Icon-Stroke-5:before {
	content: "\e919";
 }
 ._icon-Icon-Stroke-6:before {
	content: "\e91a";
 }
 ._icon-Icon-Stroke-7:before {
	content: "\e91b";
 }
 ._icon-Icon-Stroke-8:before {
	content: "\e91c";
 }
 ._icon-Icon-Stroke-9:before {
	content: "\e91d";
 }
 ._icon-Icon-Stroke-10:before {
	content: "\e91e";
 }
 ._icon-Icon-Stroke-11:before {
	content: "\e91f";
 }
 ._icon-Icon:before {
	content: "\e920";
 }
 ._icon-in:before {
	content: "\e921";
 }
 ._icon-Polygon-1:before {
	content: "\e922";
 }
 ._icon-Rectangle-66:before {
	content: "\e923";
 }
 ._icon-Rectangle-69:before {
	content: "\e924";
 }
 ._icon-Rectangle-71:before {
	content: "\e925";
 }
 ._icon-Rectangle-73:before {
	content: "\e926";
 }
 ._icon-Size--Fit-Stroke:before {
	content: "\e927";
 }
 ._icon-star_border:before {
	content: "\e928";
 }
 ._icon-truck-Stroke:before {
	content: "\e929";
 }
 ._icon-twitter:before {
	content: "\e92a";
 }
 ._icon-Vector:before {
	content: "\e92b";
 }
 ._icon-Vector-1:before {
	content: "\e92c";
 }
 ._icon-Vector-2:before {
	content: "\e92d";
 }
 ._icon-Vector-3:before {
	content: "\e92e";
 }
 