.main {

	// .main__saving

	&__saving {
		@include adaptiveValue("margin-bottom", 100 , 30);
	}
}
.saving {
	font-family: "CoreSansC";

	// .saving__container

	&__container {
		
	}

	// .saving__title

	&__title {
		@include adaptiveValue("margin-bottom", 70, 35);
	}

	// .saving__cards

	&__cards {
		display: grid;
		grid-template-columns: repeat(6,1fr);
		grid-template-rows: repeat(2,1fr);
		grid-auto-rows: 1fr;
		grid-auto-columns: span 2;
		@include adaptiveValue ("gap", 20,10);
		//margin: 0 toRem(-15);
		@media (max-width:toRem(898)){
			grid-template-columns: 1fr;
		}
		& > * {
			grid-column: span 2;
		}
	}
	
	// .saving__card

	&__card {
		position:relative;
		height: 100%;
		width: 100%;
		@media (min-width:toRem(898)){
			&:nth-child(4){
				grid-column:span 3;
				aspect-ratio: 610 / 393;
			}
			&:nth-child(5){
				grid-column:span 3;
				aspect-ratio: 610 / 393;
			}
		}
			
	}
}

.card-saving {
	
	
	// .card-saving__body

	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative;
		color: #3c4242;
		text-align: end;
		margin-bottom: 10px;
		@include adaptiveValue ("padding-top", 64, 30);
		margin-right: toRem(20);
		@media (max-width:toRem(898)){
			@include adaptiveValue ("margin-bottom", 40, 20);
		}
		&--white{
			color: #fff;
		}
		&--left{
			align-items: flex-start;
			text-align: start;
			@include adaptiveValue ("padding-left", 64, 30);
		}
		&--big {
			@media (min-width:toRem(898)){
				margin-right: toRem(50);
			}
			@media (min-width:toRem(1070)){
				margin-right: toRem(100);
			}
		}
		&--button{
			@include adaptiveValue ("padding-top", 34, 30);
			
		}
	}	


	&__blackbutton{
		font-weight: 700;
		font-size: 12px;
		border-radius: toRem(4);
		padding: toRem(16) toRem(8);
		background: #3c4242;
		transition:background 0.3s; 
		@include adaptiveValue ("margin-bottom", 30, 0,0 , $containerWidth, 898);
		@media (max-width:toRem(898)){
			padding: toRem(10) toRem(16);
		}
		@media (any-hover:hover){
			&:hover {
				background: #050505fd;
			}
		}
	}
	// .card-saving__title

	&__title {
		font-weight: 600;
		font-size: 28px;
		line-height: 137%;
		letter-spacing: 0.02em;
		margin-bottom: toRem(10);
		@media (max-width:toRem(898)){
			@include adaptiveValue ("font-size", 100, 40);
		}

	}

	// .card-saving__text

	&__text {
		font-weight: 600;
		font-size: 14px;
		margin-bottom: toRem(10);
		@media (max-width:toRem(898)){
			@include adaptiveValue ("font-size", 20, 14);
			margin-bottom: toRem(20);
		}
	}

	// .card-saving__sale

	&__sale {
		font-weight: 700;
		font-size: 18px;
	
		@include adaptiveValue ("margin-bottom", 95, 50);
		@media (max-width:toRem(898)){
			@include adaptiveValue ("font-size", 35, 20);
		}
		&--button{
			
		}
	}

	// .card-saving__arrow

	&__arrow {
		@include adaptiveValue ("margin-bottom", 35, 25);
		//display: block; 
		

		@media (any-hover:hover){
			
		}	

		@media (max-width:toRem(898)){
			display: none;
		}
	}	

	// .card-saving__arrow--wight


	// .card-saving__img-arrow

	&__img-arrow {
		width: 21px;
		align-self: f;
		@media (min-width:toRem(898)){
			//margin-right: toRem(50);
		}
		

	}


	// .card-saving__button

	&__button {
		font-weight: 500;
		font-size: 12px;
		padding: toRem(10) toRem(25);
		border-radius: toRem(4);
		border: 1px solid black;
		color: black;
		transition: all 0.3s;
		position: relative;
		&::before {
			content: "";
			background: url('../img/saving/arrow-black.png') no-repeat;
			background-size:cover;
			position: absolute;
			@include adaptiveValue("top",-59,-44);
			left: 50%;
			width: toRem(21);
			height: toRem(24);
			transform: translateX(-12px);	
		}
		@media (any-hover:hover){
			&:hover{
				background-color: #fff;
			}
		}
	
		@media (max-width:toRem(898)){
			font-size: 16px;
			padding: toRem(12) toRem(35);
		}
		&--white{
			color: #fff;
			border: 1px solid #fff;
			&::before {
				background: url('../img/saving/arrow-white.png') no-repeat;
				content: "";
				background-size:cover;
				position: absolute;
				@include adaptiveValue("top",-59,-44);
				left: 50%;
				width: toRem(21);
				height: toRem(24);
				transform: translateX(-12px);
			}
			@media (any-hover:hover){
				&:hover{
					background-color: black;

				}
			}
		}
	}
	&__backgraund{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
		border-radius: toRem(12);
		
	}

}
