.main {

	// .main__women

	&__women {
	//	margin-top: toRem(120);
	}
}
.women {

	// .women__hero

	&__hero {
	}
}
.hero-women {
	@include adaptiveValue ("margin-bottom", 95, 30);
	// .hero-women__container

	&__container {

	}

	// .hero-women__body

	&__body {
		display: flex;
		align-items: flex-start;
		@include adaptiveValue ("margin-bottom", 50, 20);
		@media (max-width:toRem(998)){
			display: block;
		}
	}

	// .hero-women__filter

	&__filter {
		flex: 0 0 toRem(295);
		
	}
	

	// .hero-women__clothing

	&__clothing {
		flex: 1 1 auto;
		
	}
}
.filter-women {

	border: 1px solid #bebcbd;
	// .filter-women__filt

	&__filt {
	}

	// .filter-women__title

	&__title {
		font-weight: 600;
		font-size: 22px;
		letter-spacing: 0.02em;
		color: #807d7e;
		position: relative;
		padding-top: toRem(20);
		padding-bottom: toRem(20);
		padding-left: toRem(30);
		padding-right: toRem(30);
		border-bottom: 1px solid #bebcbd;
		transition: color 0.3s;
		&.active{
			&::after{
				transform-origin: center;
				transform:rotateZ(180deg);
			}
		}
		@media(any-hover:hover){
			&:hover{
				color: #242223;
			}
		}
		&::after {
			content: "";
			background: url('../img/women/filter.png') no-repeat;
			background-size: contain; 
			background-position: center; 
			position: absolute;
			top: calc(50% - 7px);
			left: calc(100% - toRem(30));
			transform: translateX(-100%);
			width: 20px;  
			height: 15px; 
			transition:transform 0.3s;
		
		}
	}


	// .filter-women__article

	&__article {
		
	}

	// .filter-women__items
	&__nav {
		border-bottom: 1px solid #bebcbd;
	}
	
	&__items {
		font-weight: 600;
		font-size: 16px;
		color: #8a8989;
		display: flex;
		flex-direction: column;
		gap: toRem(18);	
		padding-bottom: toRem(20);
		margin: 20px 30px 0 30px;
		//transition: color 0.3s;

	}

	// .filter-women__item

	&__item {
		position: relative;
		transition: color 0.3s;
		display: flex;
		@media(any-hover:hover){
			&:hover{
				color: #242223;
			}
		}
		&::after{
			content: "";
			background: url('../img/women/arrow_right.png') no-repeat;
			position: absolute;
			top: calc(50% - 5px);
			left: 100%;
			width: toRem(5);
			height: toRem(10);
			background-size: contain;
			background-position: center;
		}
	}

	// .filter-women__link

	&__link {
	}
}
.clothing-women {
}

.filter-women {

	// .filter-women__price

	&__price {

		
	}
}
.price-filter {
	
	// .price-filter__title

	&__title {
		position: relative;
		padding: 20px 30px 20px 30px;
		font-weight: 600;
		font-size: 22px;
		letter-spacing: 0.02em;
		color: #807d7e;
		border-bottom: 1px solid #bebcbd;
		@media(any-hover:hover){
			&:hover{
				color: #242223;
			}
		}
		&.active{
			&::after{
				transform-origin: center;
				transform: translateX(100%) rotateZ(180deg);
			}
		}
		&::after{
			content: "";
			position: absolute;
			background: url('../img/women/arrow_up.png') no-repeat;
			background-size: contain;
			background-position: center;
			width: toRem(16);
			height: toRem(8);
			top: calc(50% - toRem(2));
			left: calc(100% - toRem(48));
		
			transition: transform 0.3s;
		}
	}

	// .price-filter__slider

	&__slider {
		border-bottom: 1px solid #bebcbd;
		padding-bottom: toRem(20);
	}

	// .price-filter__rahge

	&__range {
		margin: toRem(20);
	}

	// .price-filter__inputs

	&__inputs {
		margin: 20px 20px 0 20px;
		display: flex;
		gap: toRem(30);
		justify-content: center;
		align-items: center;
		
	}

	// .price-filter__input

	&__input {
		padding: toRem(7) toRem(15);
		border: 1px solid #bebcbd;
		border-radius: 8px;
		opacity: 0.8;
		width: toRem(0);
		flex: 1 1 auto;
		font-weight: 500;
		font-size: 16px;
		color: #020202;
		display: flex;
		justify-content: center;
		text-align: center;
	}
}


//color 

.price-filter {

	// .price-filter__title

	&__title {

	}

	// .price-filter__slider

	&__slider {
	}
}
.color-woman, .size-woman {
	padding-bottom: toRem(0);
	// .color-woman__items

	&__items {
		margin: toRem(35);
		box-sizing: content-box;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		
		gap: toRem(18);
		
	}

	// .color-woman__item

	&__item {
		display: grid;
		gap: toRem(18);
		//max-width: toRem(50);
		text-align: center;
		align-items: end;
		justify-items: center;
		transition: scale 0.3s;
		cursor: pointer;
		font-weight: 600;
		font-size: 14px;
		color: #8a8989;
		&::before{
			content: "";
			border-radius: toRem(12);
			aspect-ratio: 1/1;	
			width: toRem(37);
			background-color: var(--color);
		}
		&:has(input:checked){
			color: #020202;
		}

		&:has(input:hover){
			scale: 1.05;
		}

	}

	&__input{
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		
	}
}


.filter-women {

	// .filter-women__size

	&__size {
	}
}
.price-filter {

	// .price-filter__title

	&__title {
	}

	// .price-filter__slider

	&__slider {
	}
}
.size-woman {

	// .size-woman__items

	&__items {
		grid-template-columns: repeat(3,1fr);
	}

	// .size-woman__item

	&__item {
		border: 1px solid #bebcbd;
		border-radius: 8px;
		padding: toRem(7) toRem(10);
		&::before{
			display: none;
		}
		&:has(input:checked){
			background-color: #a19e9e;
			border: 1px solid rgb(51, 51, 51);
			color: #ffffff;
			
		}
	}

	// .size-woman__input

	&__input {
	}
}

//-----------BODY-----------

.hero-women {

		// .hero-women__clothing

		&__clothing {
		}
}
.clothing-women {

		// .clothing-women__head

		&__head {
			display: flex;
			justify-content: space-between;
			@include adaptiveValue("padding", 50,20);
			font-weight: 600;
			font-size: 22px;
			color: #3f4646;
		}

		// .clothing-women__title

		&__title {
		}

		// .clothing-women__filter

		&__filter {
			display: flex;
			column-gap: toRem(25);
			
		}

		// .clothing-women__radio

		&__radio {
			cursor: pointer;
			input{
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
			input:checked + span{
				color: #8a33fd;
			}
			& span:hover{
				color: #8b33fd6c;
			}
		}
}

.box--wonam {
	@include adaptiveValue ("padding-left", 50, 20);
	@include adaptiveValue ("padding-right", 50, 20);

}

.hero-women__subtitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 167%;
	letter-spacing: 0.02em;
	color: #807d7e;
	margin-bottom: toRem(10);
}
.hero-women__info p {
	font-weight: 400;
	font-size: 20px;
	line-height: 167%;
	letter-spacing: 0.02em;
	color: #807d7e;
}
.hero-women__info p:not(:last-child){
	margin-bottom: toRem(30);
}

// .main {

// 	// .main__women

// 	&__women {
// 	//	margin-top: toRem(120);
// 	}
// }
// .women {

// 	// .women__hero

// 	&__hero {
// 	}
// }
// .hero-women {
// 	@include adaptiveValue ("margin-bottom", 95, 30);
// 	// .hero-women__container

// 	&__container {
// 	}

// 	// .hero-women__body

// 	&__body {
// 		display: flex;
// 		align-items: flex-start;
// 		@include adaptiveValue ("margin-bottom", 50, 20);
// 	}

// 	// .hero-women__filter

// 	&__filter {
// 		flex: 0 0 toRem(295);
// 	}
	

// 	// .hero-women__clothing

// 	&__clothing {
// 		flex: 1 1 auto;
		
// 	}
// }
// .filter-women {

	
// 	border: 1px solid #bebcbd;
// 	// .filter-women__filt

// 	&__filt {
// 	}

// 	// .filter-women__title

// 	&__title {
// 		font-weight: 600;
// 		font-size: 22px;
// 		letter-spacing: 0.02em;
// 		color: #807d7e;
// 		position: relative;
// 		padding-top: toRem(20);
// 		padding-bottom: toRem(20);
// 		padding-left: toRem(30);
// 		padding-right: toRem(30);
// 		border-bottom: 1px solid #bebcbd;
// 		transition: color 0.3s;
// 		&.active{
// 			&::after{
// 				transform-origin: center;
// 				transform:rotateZ(180deg);
// 			}
// 		}
// 		@media(any-hover:hover){
// 			&:hover{
// 				color: #242223;
// 			}
// 		}
// 		&::after {
// 			content: "";
// 			background: url('../img/women/filter.png') no-repeat;
// 			background-size: contain; 
// 			background-position: center; 
// 			position: absolute;
// 			top: calc(50% - 7px);
// 			left: calc(100% - toRem(30));
// 			transform: translateX(-100%);
// 			width: 20px;  
// 			height: 15px; 
// 			transition:transform 0.3s;
		
// 		}
// 	}


// 	// .filter-women__article

// 	&__article {
		
// 	}

// 	// .filter-women__items
// 	&__nav {
// 		border-bottom: 1px solid #bebcbd;
// 	}
// 	&__items {
// 		font-weight: 600;
// 		font-size: 16px;
// 		color: #8a8989;
// 		display: flex;
// 		flex-direction: column;
// 		gap: toRem(18);	
// 		padding-bottom: toRem(20);
// 		margin: 20px 30px 0 30px;
// 		//transition: color 0.3s;

// 	}

// 	// .filter-women__item

// 	&__item {
// 		position: relative;
// 		transition: color 0.3s;
// 		display: flex;
// 		@media(any-hover:hover){
// 			&:hover{
// 				color: #242223;
// 			}
// 		}
// 		&::after{
// 			content: "";
// 			background: url('../img/women/arrow_right.png') no-repeat;
// 			position: absolute;
// 			top: calc(50% - 5px);
// 			left: 100%;
// 			width: toRem(5);
// 			height: toRem(10);
// 			background-size: contain;
// 			background-position: center;
// 		}
// 	}

// 	// .filter-women__link

// 	&__link {
// 	}
// }
// .clothing-women {
// }

// .filter-women {

// 	// .filter-women__price

// 	&__price {

		
// 	}
// }
// .price-filter {
	
// 	// .price-filter__title

// 	&__title {
// 		position: relative;
// 		padding: 20px 30px 20px 30px;
// 		font-weight: 600;
// 		font-size: 22px;
// 		letter-spacing: 0.02em;
// 		color: #807d7e;
// 		border-bottom: 1px solid #bebcbd;
// 		@media(any-hover:hover){
// 			&:hover{
// 				color: #242223;
// 			}
// 		}
// 		&.active{
// 			&::after{
// 				transform-origin: center;
// 				transform: translateX(100%) rotateZ(180deg);
// 			}
// 		}
// 		&::after{
// 			content: "";
// 			position: absolute;
// 			background: url('../img/women/arrow_up.png') no-repeat;
// 			background-size: contain;
// 			background-position: center;
// 			width: toRem(16);
// 			height: toRem(8);
// 			top: calc(50% - toRem(2));
// 			left: calc(100% - toRem(48));
		
// 			transition: transform 0.3s;
// 		}
// 	}

// 	// .price-filter__slider

// 	&__slider {
// 		border-bottom: 1px solid #bebcbd;
// 		padding-bottom: toRem(20);
// 	}

// 	// .price-filter__rahge

// 	&__range {
// 		margin: toRem(20);
// 	}

// 	// .price-filter__inputs

// 	&__inputs {
// 		margin: 20px 20px 0 20px;
// 		display: flex;
// 		gap: toRem(30);
// 		justify-content: center;
// 		align-items: center;
		
// 	}

// 	// .price-filter__input

// 	&__input {
// 		padding: toRem(7) toRem(15);
// 		border: 1px solid #bebcbd;
// 		border-radius: 8px;
// 		opacity: 0.8;
// 		width: toRem(0);
// 		flex: 1 1 auto;
// 		font-weight: 500;
// 		font-size: 16px;
// 		color: #020202;
// 		display: flex;
// 		justify-content: center;
// 		text-align: center;
// 	}
// }


// //color 

// .price-filter {

// 	// .price-filter__title

// 	&__title {

// 	}

// 	// .price-filter__slider

// 	&__slider {
// 	}
// }
// .color-woman, .size-woman {
// 	padding-bottom: toRem(0);
// 	// .color-woman__items

// 	&__items {
// 		margin: toRem(35);
// 		box-sizing: content-box;
// 		display: grid;
// 		grid-template-columns: repeat(4,1fr);
// 		gap: toRem(18);
		
// 	}

// 	// .color-woman__item

// 	&__item {
// 		display: grid;
// 		gap: toRem(18);
// 		max-width: toRem(50);
// 		text-align: center;
// 		align-items: end;
// 		justify-items: center;
// 		transition: scale 0.3s;
// 		cursor: pointer;
// 		font-weight: 600;
// 		font-size: 14px;
// 		color: #8a8989;
// 		&::before{
// 			content: "";
// 			border-radius: toRem(12);
// 			aspect-ratio: 1/1;	
// 			width: toRem(37);
// 			background-color: var(--color);
// 		}
// 		&:has(input:checked){
// 			color: #020202;
// 		}

// 		&:has(input:hover){
// 			scale: 1.05;
// 		}

// 	}

// 	&__input{
// 		position: absolute;
// 		width: 0;
// 		height: 0;
// 		opacity: 0;
		
// 	}
// }


// .filter-women {

// 	// .filter-women__size

// 	&__size {
// 	}
// }
// .price-filter {

// 	// .price-filter__title

// 	&__title {
// 	}

// 	// .price-filter__slider

// 	&__slider {
// 	}
// }
// .size-woman {

// 	// .size-woman__items

// 	&__items {
// 		grid-template-columns: repeat(3,1fr);
// 	}

// 	// .size-woman__item

// 	&__item {
// 		border: 1px solid #bebcbd;
// 		border-radius: 8px;
// 		padding: toRem(7) toRem(10);
// 		&::before{
// 			display: none;
// 		}
// 		&:has(input:checked){
// 			background-color: #a19e9e;
// 			border: 1px solid rgb(51, 51, 51);
// 			color: #ffffff;
			
// 		}
// 	}

// 	// .size-woman__input

// 	&__input {
// 	}
// }

// //-----------BODY-----------

// .hero-women {

// 		// .hero-women__clothing

// 		&__clothing {
// 		}
// }
// .clothing-women {

// 		// .clothing-women__head

// 		&__head {
// 			display: flex;
// 			justify-content: space-between;
// 			@include adaptiveValue("padding", 50,20);
// 			font-weight: 600;
// 			font-size: 22px;
// 			color: #3f4646;
// 		}

// 		// .clothing-women__title

// 		&__title {
// 		}

// 		// .clothing-women__filter

// 		&__filter {
// 			display: flex;
// 			column-gap: toRem(25);
			
// 		}

// 		// .clothing-women__radio

// 		&__radio {
// 			cursor: pointer;
// 			input{
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				opacity: 0;
// 			}
// 			input:checked + span{
// 				color: #8a33fd;
// 			}
// 			& span:hover{
// 				color: #8b33fd6c;
// 			}
// 		}
// }

// .box--wonam {
// 	@include adaptiveValue ("padding-left", 50, 20);
// 	@include adaptiveValue ("padding-right", 50, 20);
// }

// .hero-women__subtitle {
// 	font-weight: 600;
// 	font-size: 20px;
// 	line-height: 167%;
// 	letter-spacing: 0.02em;
// 	color: #807d7e;
// 	margin-bottom: toRem(10);
// }
// .hero-women__info p {
// 	font-weight: 400;
// 	font-size: 20px;
// 	line-height: 167%;
// 	letter-spacing: 0.02em;
// 	color: #807d7e;
// }
// .hero-women__info p:not(:last-child){
// 	margin-bottom: toRem(30);
// }
