@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
//Ширина полотна (макету)
$maxWidth:1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
$darkColor : #3c4242;
@import "_reset.scss";
@import "_funktions.scss";
@import "_components.scss";
@import "_fonts.scss";
 
body {
	font-family: "Causten";
	color: #807d7e;
	
}

a {
	display:inline-block;
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: toRem(1270);
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
	
}
.lock{
	overflow: hidden;
}
.header {
	position: fixed;
	background-color: rgb(97, 240, 228);
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	// .header__container

	&__container {
		display: grid;
		grid-template-columns: auto 1fr 21.53% auto;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue ("column-gap",76,10);
		min-height:toRem(98);
		padding-top: toRem(10);
		padding-bottom: toRem(10);
		@media(max-width: toRem(898)) {
			grid-template-columns: auto 1fr auto auto;
			width: 100%;
			position: relative;
			min-height:toRem(70);
		}
	}

	// .header__logo

	&__logo {
		
	}

	// .header__img

	&__img {
		max-width: toRem(92);
		height: auto;
	}

	// .header__search

	&__search {

	}

	// .header__icons

	&__icons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue("gap", 12, 5);
		@media(max-width: toRem(600)) {
			position: absolute;
			top: 110%;
			right: toRem(5);
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(3,1fr);
			
		}
	
	}

	// .header__icon

	&__icon {
		padding: toRem(12);
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f6f6f6;
		border-radius: 8px;
		a{
			img{
				width: toRem(20);
				height: toRem(20);
				object-fit: contain;
				&:hover{
					transform: scale(1.1);
				}
			}
		}
	
	}

	&__burger {
		
		@media(max-width: toRem(898)){
			width: toRem(40);
			height: toRem(20);
			position: relative;
			&::before,
			&::after,
			span{
				content: "";
				transition: all 0.3s;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: toRem(2);
				background-color: black;
				
				
			}
			&::after{
				top: 100%;
			}
			&::before{
				bottom: 100%;
			}
			span {
				top: calc(50% - toRem(0.5));
			}
		}
		&--active {
			&::before {
				top: toRem(9);
				transform: rotate(45deg);
			}
			&::after {
				top: toRem(9);
				transform: rotate(-45deg);
			}
			span {
				opacity: 0;
			}
		}
	}
}
.menu-header {
	
	@media(max-width: toRem(898)) {
		position: absolute;
		top: 100%;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: all 0.1s;
		background-color: rgb(177, 201, 228);

		}
		&--active{
			display: block;
			left: 0;
		}

	// .menu-header__navi

	&__navi {
		
	}

	// .menu-header__items

	&__items {
		display: flex;
		justify-content: center;
		@include adaptiveValue("column-gap", 40,10);
		flex-wrap: wrap;
		row-gap: toRem(5);
		@media(max-width: toRem(898)){
			flex-direction: column;
			//max-width: toRem(140);
			align-items: flex-end;
			row-gap: toRem(25);
			padding-right: toRem(25);
			padding-top: toRem(20);
		}
	}

	// .menu-header__item

	&__item {
		font-weight: 500;
		font-size: toRem(22);

		a{
			position: relative;
			&::before{
				content: "";
				height: toRem(1);
				width: 0%;
				background-color: purple;
				position: absolute;
				top: 100%;
				left: 50%;
				transition: 0.3s;
			}
			@media(any-hover:hover){
				&:hover{
					&::before{
						width: 100%;
						left: 0%;
					}
				}
			}
			@media(max-width: toRem(898)){
			font-size: toRem(40);	
			}
		}

	}
}

.search {
	background: #f6f6f6;
	border-radius: 8px;
	position: relative;
	
	&::before{
		content: "";
		position: absolute;
		background: url("../img/icons/search.svg")no-repeat;
		top: toRem(12.5);
		left: 20px;
		width: toRem(20);
		height: toRem(20);
		visibility: inherit;	
		pointer-events: none;
	}
	&::placeholder{
		margin-left: 32px;
	}
	@media(max-width: toRem(898)) {

	}
	// .search__inp

	&__inp {
		width: 100%;
		padding: toRem(12.5) toRem(10) toRem(12.5) toRem(52);
		cursor: pointer;
		transition:border 0.3s;
		color: black;
		@media (any-hover:hover){
			&:hover {
				&::placeholder{
					color: purple;
					text-decoration: underline;
				}
			}
		}
		&::placeholder{
			transition: opacity 0.3s;
		}
		&:focus{
			&::placeholder{
				opacity: 0;
			}
		}

		}
	}

.main{
	margin-top: 80px;
}